* {
    margin: 0px;
}

 body {
      background: radial-gradient(purple,pink);
}
.t1 {
    background-color: purple;
    text-align: center;
    padding: 40px 0px;
    width: 25%;
    float: right;
}
.t1 img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    image-orientation: 0deg; 
    b
    
}
.t1 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(221, 141, 141);
}
  
    


 .t1 h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
    font-style: italic;
    color: rgb(250, 126, 126);

}
.t1 h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
    font-style: italic;
    color: rgb(175, 53, 53) ;
}
.t1 h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
    font-style: italic;
    color: rgb(192, 31, 31); 
}
.t1 p {
    font-style: italic;
}